body.el-popup-parent--hidden {
    @media screen and (max-width: 768px) {
        padding-right: 0 !important;
    }
}
.el-input {
    --el-input-text-color: #ffffff;
    --el-input-focus-border: #333333;
    --el-input-focus-border-color: #e7e7e7;
    --el-input-border-color: #6e6e6e;
    --el-input-bg-color: transparent;
    --el-input-placeholder-color: #777777;
    background-image: linear-gradient(90deg,
            #494949 0%,
            rgb(73, 73, 73) 100%);
}
