$theme-color: #00CEFB;

.theme-bg-color {
    background-color: $theme-color;
}
.theme-bg-color-black {
	background-color: #000;
}
.theme-color {
    color: $theme-color;
}
.theme-border {
    border: 2px solid $theme-color;
}
